.head_section{
    width: 100%;
    background-color: rgb(254,192,22);
    display: flex;
    justify-content: space-between;
    padding: 0 8vmax;
    padding-top: 10vh;
    border-bottom: 1px solid black;

}
.section1{

}
.section1>h1{
    margin-top: 60px;
    font-size: 7vmax;
}
.section1>h4{
    width: 65%;
    font-size: 1.8vmax;
}

.start_reading{
    margin-top: 46px;
    max-width: 200px;
    padding: 12px 15px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    margin-bottom: 50px;
}



/* post partition start */
.post_partitation{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 5vh 8vmax;
    margin-top: 2vh;
    gap: 80px;
}
.post_cards{
    padding-top: 3vh;
}

/* right partation of posts start */
.right_partation{

}
.right_partation>h3{
    /* margin-top: 1vh; */
    margin-bottom: 2vh;
}
.right_partation>h4{
    margin-top: 3vh;
    margin-bottom: 2vh;
    color: rgb(34,139,30);
    font-size: 0.95vmax;
}
.grid_options{
    
    display: flex;
    flex-wrap: wrap;
    max-width: 30vmax;

    gap: 10px;
}

.grey_line{
    margin-top: 4vh;
    height: 0.7px;
    width: inherit;
    background-color: rgb(188, 188, 188);
}
.right_partation>.help_rows{
    margin-top: 5vh;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    gap: 25px;
    color: grey;
    line-height: 0.7vh;
  
}
.right_partation>.help_rows{
    width: 90%;
}
.right_partation>.help_rows>h5{
    font-size: 0.95vmax;
  
}
/* right partation of posts  end */
