
.head_section{
    width: 100%;
    background-color: rgb(254,192,22);
    display: flex;
    justify-content: space-between;
    padding-left:8vmax;
    padding-top: 10vh;
    border-bottom: 1px solid black;
}

.section1>h1{
    margin-top: 60px;
    font-size: 7vmax;
}
.section1>h4{
    width: 65%;
    font-size: 1.8vmax;
}
.section2{
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: row; */
    /* align-items: start; */
    /* justify-content: start; */
    gap: 15px;
    max-width: 30%;
     /* background-color: #aa0b0b; */
}

.start_reading{
    margin-top: 46px;
    max-width: 200px;
    padding: 12px 15px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    margin-bottom: 50px;
}



/* post partition start */
.post_partitation{
    position: relative;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 5vh 8vmax;
    margin-top: 2vh;
    gap: 80px;
}
.post_cards{
    padding-top: 3vh;
}

/* right partation of posts start */
.right_partation{
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 2s;

}
.right_partation_final{
    max-width: 30vmax;

    position: fixed;
    z-index: 102;
    left: 62.25%;
    top: 16%;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 2s;
    /* background-color: red; */
}
.right_partation>h3{
    /* margin-top: 1vh; */
    margin-bottom: 2vh;
}
.right_partation_final>h3{
    /* margin-top: 1vh; */
    margin-bottom: 2vh;
}
.right_partation>h4{
    margin-top: 3vh;
    margin-bottom: 2vh;
    color: rgb(34,139,30);
    font-size: 0.95vmax;
}
.right_partation_final>h4{
    margin-top: 3vh;
    margin-bottom: 2vh;
    color: rgb(34,139,30);
    font-size: 0.95vmax;
}
.grid_options{
    
    display: flex;
    flex-wrap: wrap;
    max-width: 30vmax;
    gap: 10px;
}

.grey_line{
    margin-top: 4vh;
    height: 0.7px;
    width: inherit;
    background-color: rgb(188, 188, 188);
}
.right_partation>.help_rows{
    margin-top: 5vh;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    gap: 25px;
    color: grey;
    line-height: 0.7vh;
}
.right_partation_final>.help_rows{
    margin-top: 5vh;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    gap: 25px;
    color: grey;
    line-height: 0.7vh;
}
.right_partation>.help_rows{
    width: 90%;
}
.right_partation>.help_rows>h5{
    font-size: 0.95vmax;
}
.right_partation_final>.help_rows{
    width: 90%;
}
.right_partation_final>.help_rows>h5{
    font-size: 0.95vmax;
}
/* right partation of posts  end */


/* Login user interface css starts */



/* Login user interface css ends */


/* Drop Down Css Starts */
.drop_down_main_container{
    width: 20vmax;
    position: absolute;
    right: 2%;
    background-color: rgba(240, 237, 237, 0.593);
    font-size: 1vmax;
    font-weight:300;
    color: rgb(81, 80, 80);
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 2s;
}
.icons_options{
    padding:3vh 2vmax;
    display: flex;
    flex-direction: column;
    gap: 13px;
}
.option{
    display: flex;
    justify-content: start;
    gap: 18px;
    align-items: center;
}
.option>h5{
    font-size: 1vmax;
    font-weight:300;
    color: rgb(81, 80, 80);
}
.line{
    width: 100%;
    height: 0.1px;
    background-color: gray;
}
.simple_options{
    padding: 3vh 2vmax;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.down_section_options{
    padding:3vh 2vmax;
    display: flex;
    flex-direction: column;
    gap: 9px;
}
.member_option{
    display: flex;
    justify-content: space-between;  
}

.sign_out{
    display: flex;
    flex-direction: column;
    padding: 3vh 2vmax;
    gap: 5px;
}
/* Drop Down Css ends */

/* Main body starts here for logged in user css */
.main_partittion{
display: flex;
justify-content: space-between;
}
.left_section{
    width: 65%;
    border-right: 0.2px solid rgb(107, 106, 106);
    /* background-color: red; */
    /* padding: 2vh 5vmax; */
}
.app_bar{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
    font-size: 1vmax;
    color: rgb(89, 89, 89);
    padding-top: 5vh;
    padding-bottom: 12px;
    margin-left: 10vmax;
    border-bottom: 0.2px solid rgb(107, 106, 106);
}

.post_section{
    padding: 5vh 10vmax;
}



.right_section{
    width: 35%;
    /* background-color: red; */
}

.staff_picks{
    padding: 6vh 3vmax;

}

/* Main body ends here for logged in user css */