
.nav_container_yellow{
    background-color: rgb(254,192,22);
    padding: 5px 0;
    width: 100%;
    padding: 2vh 8vmax;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    position: fixed;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}
.nav_container_white{
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    background-color: #fff;
    padding: 5px 0;
    width: 100%;
    padding: 2vh 8vmax;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    position: fixed;
    z-index: 100;
}

.logo_img{
    font-size: 2vmax;
}

.section2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.get_started_btn_black{
    padding: 9px 15px;
    background-color: black;
    color: white;
    border-radius: 40px;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;

}
.get_started_btn_green{
    padding: 9px 15px;
    background-color: rgb(25,137,23);
    color: white;
    border-radius: 40px;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;

}

.get_started_btn>h6{
    font-size: 15px;
}